html
{	font-family:Arial;
	font-size:12pt;
}
body
{	background-color:rgb(20,29,74);
	background-image:linear-gradient(to bottom,rgba(181,78,121,.1),rgba(28,33,90,.6)),url("assets/starynightbg-s.gif");
	background-repeat:no-repeat;
	background-size:100%;
	margin:0;
}

#container
{	width:45%;
	height:100%;
	padding:24pt 32pt 0;
	margin:22pt auto 0;
	padding-bottom:-8pt;
	background-image:linear-gradient(to bottom,rgba(242,178,20,.6),rgba(234,234,79,.55));
	baackground-color:rgba(234,234,79,.6);
}

#header
{	background-image:linear-gradient(to left,rgba(141,50,86,.7),rgba(255,255,255,0));
	color:#3cbae4;
	margin-top:3px;
}

#header img#portrait
{	width:26%;
	float:left;
	margin:8pt;
	margin-top:0;
	margin-right:20pt;
}
#header h1
{	margin-top:0;
	margin-bottom:0;
	font-size:2.75em;
	padding-top:8pt;
}
#header h2
{	margin-top:0;
	margin-bottom:8pt;
}
#header #ContactInfoRow 
{	padding-bottom:5pt;
	font-size:12pt;
}
#header #ContactInfoRow a
{	text-decoration:none;
	color:#3BDBB0;
}

#bodyText
{	font-size:13pt;
    color:lightyellow;
}
#bodyText a
{	color:maroon;
}

.italicizeAll
{	font-style:italic;
}

#cheese
{	margin:auto;
	width:300px;
	border-collapse:collapse;
	color:inherit;
	font-size:1.12em;
	background-image:linear-gradient(to bottom,rgba(140,75,5,.6),rgba(181,78,121,.2))
}

#cheese tr,
#cheese td,
#cheese th
{	border:2px solid lightyellow;
	padding:0 5px;
}
